# **NB02 - Data Analysis and Visualisation**

**OBJECTIVE:**
Visualise the data and answer the research question (FIX THIS LATER).

**AUTHOR:** 
@nadiabegic on GitHub

**LAST EDITED:**
10-Nov-2024

--------------------

**Imports:**

In [66]:
import requests
import pandas as pd
import json
from lets_plot import *
LetsPlot.setup_html()

# 1. Visualise the number of days of rainfall in 2003 vs. 2023

1.1 Load the JSON file _days_rain_2023.json_ as a pandas dataframe

In [75]:
with open('../data/days_rain_2023.json', 'r') as file:
    days_2023_data = json.load(file)

df_days_rain_2023 = pd.DataFrame(list(days_2023_data.items()), columns=['City', 'Days of Rain in 2023'])
df_days_rain_2023

            City  Days of Rain in 2023
0         London                   228
1      Edinburgh                   270
2       Sarajevo                   200
3      Amsterdam                   266
4          Paris                   225
5         Madrid                   123
6       Damascus                    64
7  New York City                   187
8    Los Angeles                   103
9          Dubai                    28

In [71]:
# do i need this?

plot_df_1 = df_days_rain_2023.groupby('City')['Days of Rain in 2023'].value_counts().to_frame().reset_index()
plot_df_1

            City  Days of Rain in 2023  count
0      Amsterdam                   266      1
1       Damascus                    64      1
2          Dubai                    28      1
3      Edinburgh                   270      1
4         London                   228      1
5    Los Angeles                   103      1
6         Madrid                   123      1
7  New York City                   187      1
8          Paris                   225      1
9       Sarajevo                   200      1

1.2 Load the JSON file _days_rain_2003.json_ as a pandas dataframe

In [74]:
with open('../data/days_rain_2003.json', 'r') as file:
    days_2003_data = json.load(file)

df_days_rain_2003 = pd.DataFrame(list(days_2003_data.items()), columns=['City', 'Days of Rain in 2003'])

df_days_rain_2003

            City  Days of Rain in 2003
0         London                   159
1      Edinburgh                   191
2       Sarajevo                   169
3      Amsterdam                   163
4          Paris                   158
5         Madrid                   120
6       Damascus                    75
7  New York City                   162
8    Los Angeles                    49
9          Dubai                    16

1.3 Merge the two dataframes in order to plot them on a singular bar chart

In [88]:
df_days_rain = df_days_rain_2023.merge(df_days_rain_2003)
df_days_rain

            City  Days of Rain in 2023  Days of Rain in 2003
0         London                   228                   159
1      Edinburgh                   270                   191
2       Sarajevo                   200                   169
3      Amsterdam                   266                   163
4          Paris                   225                   158
5         Madrid                   123                   120
6       Damascus                    64                    75
7  New York City                   187                   162
8    Los Angeles                   103                    49
9          Dubai                    28                    16

1.3 Visualise the discrete data as a bar chart

In [126]:
# can i use this? (AI)

df_melted = df_days_rain.melt(id_vars=['City'], 
                              value_vars=['Days of Rain in 2003', 'Days of Rain in 2023'], 
                              var_name='Year', 
                              value_name='Days of Rain')

(
     ggplot(df_melted, aes(x='City', y='Days of Rain', fill='Year')) +
     geom_bar(stat='identity', position='dodge') +
     scale_y_continuous() +
     labs(x="City",
          y="Days of Rain",
          title="Days of Rain in 2003 and 2023",
          subtitle="Collected with OpenMeteo API")
)

In [130]:
# can i use this? (AI)

df_melted = df_days_rain.melt(id_vars=['City'], 
                              value_vars=['Days of Rain in 2003', 'Days of Rain in 2023'], 
                              var_name='Year', 
                              value_name='Days of Rain')

(
    ggplot(df_melted, aes(x='City', y='Days of Rain', fill='Year')) +
    geom_bar(stat='identity', position='dodge') +
    scale_y_continuous() +
    scale_fill_manual(values={'Days of Rain in 2003': 'skyblue', 'Days of Rain in 2023': 'orange'})
    labs(x="City",
        y="Days of Rain",
        title="Days of Rain in 2003 and 2023",
        subtitle="Collected with OpenMeteo API")
)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2254080250.py, line 9)

In [124]:
# just days of rain 2023 that i made
(
    ggplot(data=df_days_rain, mapping=aes(y='Days of Rain in 2023', x='City')) + 
    geom_bar(stat='identity', fill='blue') +
    scale_y_continuous() +
    labs(x="City",
         y="Days of Rain",
         title="Number of Days of Rain in 2023",
         subtitle="Collected with OpenMeteo API")
)

In [58]:
# test
df_days_rain_2023['Days of Rain in 2023'].describe()

count     10.000000
mean     169.400000
std       84.910672
min       28.000000
25%      108.000000
50%      193.500000
75%      227.250000
max      270.000000
Name: Days of Rain in 2023, dtype: float64